.Template
{
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 6px;
    overflow: hidden;
    font-family: sans-serif;
}

.app-title{
    background: rgb(19, 39, 255);
    color: #fff;
    height: 5rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: #fff;
}